<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>够浪IM</title>
    <link href="/asset/plugins/mui/css/mui.css" rel="stylesheet"/>
    <link href="/asset/css/login.css" rel="stylesheet"/>
    <script src="/asset/plugins/mui/js/mui.js"></script>
    <script src="/asset/js/vue.min.js"></script>
    <script src="/asset/js/util.js"></script>
</head>
<body>

<header class="mui-bar mui-bar-nav">
    <h1 class="mui-title">登录</h1>
</header>
<div class="mui-content" id="pageapp">
    <form class="mui-input-group" id='login-form'>
        <div class="mui-input-row">
            <label>账号</label>
            <input class="mui-input-clear mui-input" placeholder="请输入用户名" type="text" v-model="user.mobile">
        </div>
        <div class="mui-input-row">
            <label>密码</label>
            <input class="mui-input-clear mui-input" placeholder="请输入密码" type="password" v-model="user.passwd">
        </div>
    </form>
    <div class="mui-content-padded">
        <button @click="login" class="mui-btn mui-btn-block mui-btn-primary" type="button">登录</button>
        <div class="link-area"><a href="register" id='reg'>注册账号</a> <span class="spliter">|</span> <a
                id='forgetPassword'>忘记密码</a>
        </div>
    </div>
    <div class="mui-content-padded oauth-area">
    </div>
</div>
</body>
</html>
<script>
    var app = new Vue({
        el: "#pageapp",
        data: function () {
            return {
                user: {
                    mobile: "",
                    passwd: ""
                }
            }
        },
        methods: {
            login: function () {
                //检测手机号是否正确
                console.log("login")
                //检测密码是否为空

                //网络请求
                //封装了promis
                util.post("user/login", this.user).then(res => {
                    console.log(res)
                    if (res.code != 0) {
                        mui.toast(res.msg)
                    } else {
                        //location.replace("//127.0.0.1/demo/index.shtml")
                        mui.toast("登录成功,即将跳转")
                    }
                })
            },
        }
    })
</script>